# This file lists the canonical name and email of contributors, and is used to
# generate AUTHORS (in hack/generate-authors.sh).

Nothando Duma <fai231kalwandle@gmail.com>
Lindani Melusi Khumalo <melusimedia@gmail.com>
